table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: black;
  color: white;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
  color: black;
}

tr:nth-child(odd) {
  background-color: #808080;
  color: white;
}

.hoverTable tr:hover { 
  background-color: #cccccc;
}

.running {
  background-color: green;
}    

.stopped {
  background-color: red;
} 

.pending {
  background-color: yellow;
}

    body {
      margin: 0;
      padding: 10px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: #3498db;
      color: black;
    }
    /*
     * Formatting the header area
     */
    header {
      background-color: #3498db;
      height: 20px;
      width: 100%;
      opacity: .9;
      margin-bottom: 10px;
    }
    header h1.logo {
      margin: 0;
      font-size: 2em;
      color: white;
      text-transform: uppercase;
      float: left;
    }
    header h1.logo:hover {
      color: white;
      text-decoration: none;
    }
    /*
     * Centering the body content
     */
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    div.home {
      padding: 10px 0 30px 0;
      background-color: #3498db;
      color: black;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    div.about {
      padding: 10px 0 30px 0;
      background-color: #3498db;
      color: black;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    h2 {
      font-size: 1.7em;
      margin-top: 40px;
      text-align: center;
      letter-spacing: -2px;
      color: #4d4d4d;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 100;
      margin-top: 30px;
      text-align: left;
      letter-spacing: -1px;
      color: black;
    }
    .menu {
      float: right;
      margin-top: 8px;
    }
    .menu li {
      display: inline;
    }
    .menu li + li {
      margin-left: 35px;
    }
    .menu li a {
      color: white;
      font-size: 1.0em;
      font-weight: bold;
      text-decoration: none;
    }


.btn-red {
background-color: red;
border-radius: 3px;
}

.btn-red:hover {
background-color: #2980B9;
}

.btn-green {
background-color: green;
border-radius: 3px;
}

.btn-green:hover {
background-color: #2980B9;
}

.btn-yellow {
background-color: yellow;
border-radius: 3px;
}

.btn-yellow:hover {
background-color: #2980B9;
}
div#content {
    display: none;
}

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
}
