{% extends "layout.html" %}
{% block content %}

  <h2>UI Service</h2>
  <h2>UI Configurations</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><font style="color: red; background-color: black; font-size: large;">{{ message }}</font></center>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <form action="" method="POST">
    <b>Main Configuration:</b>
    <table id="defaulttable" class="hoverTable">
    <tr><th>Allowed Network IPs</th><th>Actions</th><th></th></tr>


    <td><input type="text" name="owner" value={{mainip}} style="background-color:#808080"></td><td><input type=submit name="form_submit" class="btn-yellow" formaction="/modcfg" value="Update Main"></td></td></td></tr>
    {% for item in defip %}

    {% endfor %}
    {% for item in alertinfo %}
    <tr><th></th><td><input> </input></td><td><input type=submit name="form_submit" class="btn-yellow" formaction="/modcfg" value="Update "></td></td><input type=submit name="form_submit" class="btn-red" formaction="/modcfg" value="Remove "></td></tr>

                        <input type="text" name="owner" value={{nwieid}} readonly style="background-color:#808080"></td></tr>


    &nbsp;<input type=submit name="form_submit" class="btn-yellow" formaction="/modcfg" value=Update>
    &nbsp; <b>checked Alerts, </b>
    &nbsp;<input type=submit name="form_submit" class="btn-red" formaction="/modcfg" value=Remove>
    &nbsp; <b>checked Alerts or </b>
    {% if aok == 2 %}
        &nbsp;<input type=submit name="form_submit" class="btn-green" formaction="/modcfg" value=Add>
        &nbsp; <b>New Alerts</b>
    {% else %}
        Add New Alerts once Locations and Channels Defined
    {% endif %}
    <table id="locationtable" class="hoverTable">
    <tr><th></th><th>Name of Service</th><th>Destination</th><th>Distribution Channels</th></tr>
    {% for item in alertinfo %}
      <tr><td><input type=checkbox name=alrtlist value="{{item['name']}}" > </td>
        <td>{{item['name']}}</td>
        <td>{{item['location']}}</td>
        <td>
        {% for pc in chaninfo %}
            {% if pc['M']['name']['S'] in item['channels'] %}
                <input type=checkbox name=alrtclst[{{item['name']}}] value="{{pc['M']['name']['S']}}" checked="checked"> {{pc['M']['name']['S']}} - {{pc['M']['type']['S']}} - {{pc['M']['value']['S']}} </input></br>
            {% else %}
                <input type=checkbox name=alrtclst[{{item['name']}}] value="{{pc['M']['name']['S']}}"> {{pc['M']['name']['S']}} - {{pc['M']['type']['S']}} - {{pc['M']['value']['S']}} </input></br>
            {% endif %}
        {% endfor %}
        </td></tr>
    {% endfor %}
    {% if aok == 2 %}
        <tr><td>Add</td>
            <td><input type="text" name="name"></td>
            <td style="text-align: left;"> 
                <select class="form-control" name=alocation>
                    {% for pl in locinfo %}
                        <option value="{{pl['M']['name']['S']}}">{{pl['M']['name']['S']}} - {{pl['M']['zip']['S']}}</option>
                    {% endfor %}
                </select>
            </td><td>
            {% for pc1 in chaninfo %}
                <input type=checkbox name=alrtalst value="{{pc1['M']['name']['S']}}"> {{pc1['M']['name']['S']}} - {{pc1['M']['type']['S']}} - {{pc1['M']['value']['S']}} </input></br>
            {% endfor %}
            </td></tr>
    {% endif %}
  </table>
  </form>

{% endblock %}
