{% extends "layout.html" %}
{% block content %}

  <h2>SAFE Profile</h2>
  <h2>Distribution Channels</h2>
  <h3>{{ userole }}: {{ nwieid }}</h3>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><font style="color: red; background-color: black; font-size: large;">{{ message }}</font></center>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <form action="" method="POST">
    <b>Channels:</b>
    &nbsp;<input type=submit name="form_submit" class="btn-red" formaction="/modchannels" value=Remove>
    &nbsp; <b>checked Channels or </b>
    &nbsp;<input type=submit name="form_submit" class="btn-green" formaction="/modchannels" value=Add>
    &nbsp; <b>New Channels</b>
  <table id="channeltable" class="hoverTable">
    <tr><th></th>
      <th>Name of Channels</th>
      <th>Type</th>
      <th>Value</th></tr>
    {% for item in chaninfo %}
      <tr><td><input type=checkbox name=chnlist value="{{item['M']['name']['S']}}" > </td>
        <td>{{item['M']['name']['S']}}</td>
        <td> {% if item['M']['type']['S'] == 'email' %} e-mail {% else %} SMS/Text {% endif %} </td>
        <td>{{item['M']['value']['S']}}</td></tr>
    {% endfor %}
    <tr><td>Add</td>
      <td><input type="text"  name="name"> </td>
      <td><input type="radio" name="type" value="email" checked="checked">e-mail</input>
          <input type="radio" name="type" value="text">SMS/Text</input> </td>
      <td><input type="text"  name="value"> </td></tr>
  </table>
  </form>

{% endblock %}
