{% extends "layout.html" %}
{% block content %}

<h2>SAFE Profile</h2>
<h2>User Information</h2>
<h3>{{ userole }}: {{ nwieid }}</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <center><font style="color: red; background-color: black; font-size: large;">{{ message }}</font></center>
  {% endfor %}
{% endif %}
{% endwith %}
<form action="" method="POST">
  <b>User Information:</b>
  &nbsp;<input type=submit name="form_submit" class="btn-red" formaction="/moduserinfo" value=Modify>
  &nbsp; <b>User Information.</b>
<table id="userinfotable" class="hoverTable">
  <tr><th></th><th>First Name</th><th>Last Name</th><th>e-Mail</th><th>Phone</th></tr>
  <tr><th>User:</th> <td><input type=text name=userfn value="{{userinfo[0]['first']}}"></td>
                     <td><input type=text name=userln value="{{userinfo[0]['last']}}"></td> 
                     <td><input type=text name=userem value="{{userinfo[0]['email']}}"></td> 
                     <td><input type=text name=userph value="{{userinfo[0]['phone']}}"></td></tr>
  <tr><th>Agent:</th><td><input type=text name=agntfn value="{{agentinfo[0]['first']}}"></td>
                     <td><input type=text name=agntln value="{{agentinfo[0]['last']}}"></td> 
                     <td><input type=text name=agntem value="{{agentinfo[0]['email']}}"></td>
                     <td></td></tr>
</table>
</form>

{% endblock %}
